.text-block
    width 100%
    box-shadow 0px 4px 4px rgba(0, 0, 0, 0.1)
    padding 2vw
    margin-top 4vw
    background-color white

@media (min-width: 768px)
    .text-block
        margin-top 2vw

.page_link
    margin-top 4vw

@media (min-width: 768px)
    .page_link
        margin-top 2vw

.rise_up
    margin-top 4vw
    text-align center
    display inline-block

@media (min-width: 768px)
    .rise_up
        display none!important


.btn_block
    display flex
    justify-content center

    @media (min-width: 768px)
        justify-content flex-start


.btn
    width auto
    padding 10px 15px
    font-size 0.9em
    background-color #70D4B4
    font-weight 600
    color white !important
    margin-top 4vw
    border none
    display inline-block
    border-radius 0

    &.green
        background-color #70D4B4

    &.gray
        background-color #909080
        margin-right 15px

    @media (min-width: 768px)
        margin-top 2vw
        padding 15px 20px
        font-size 1em
        align-items flex-start



.subscribe-link-block
    display block
    background #2f4264
    color white
    padding 0.5em 2vw
    transition all 0.3s

    &:hover
        color white
        text-decoration none
        opacity 0.9
        transform scaleY(1.1) scaleX(1.02)

.courthouse-line
    display block
    border-top 1px solid #e3e3e3
    transition all 0.3s
    padding-left 1em

    &:hover
        background #e3e3e3

    label
        padding 1em 0
        margin 0
        margin-bottom 0
