.placeholder
    width 100vw
    height 60px
    max-width 100%

.vue-navbar
    background-color #2F4365
    position fixed
    width 100vw
    height 60px
    overflow visible
    max-width 100%
    top 0
    left 0
    z-index 50
    border-top 5px solid #79ceb6

    .p-15
        padding 0 15px

    .logo
        object-fit cover
        height 60px

    .nav-list
        display flex
        height 60px

        a
            color white !important
            display flex
            justify-content center
            align-items center
            padding 10px
            font-size 0.9rem
            position relative
            transition background-color 0.5s
            white-space nowrap

            &:hover
                background-color rgba(34, 101, 133, 0.6)

            .nav-item
                padding 38px 15px
                margin auto
                font-size 1rem
                color #fff

        .nav-search
            display block
            margin auto 0 auto auto
            cursor pointer
            transition transform 0.3s
            width 16px
            height 16px
            overflow visible
            position relative
            top -5px

            &:hover
                transform scale(1.1)

        &.menu-half
            width 39%

            a
                font-size 11px
                top -5px

                @media (min-width 1100px)
                    font-size 13px

                @media (min-width 1200px)
                    font-size 14px

    .middle-logo-container-placeholder
        width 12vw
        height 1px
        max-width 230px

    .middle-logo-container
        width 12.45vw
        height 7vw
        max-width 230px
        min-width 125px
        min-height 65px
        display flex
        justify-content center
        align-items center
        background white url('/img/logo_light.svg') center no-repeat
        background-size contain
        position absolute
        top -5px
        transition transform 0.5s, box-shadow 0.5s
        box-shadow none
        left 50%
        transform translateX(-50%)

        &:hover
            transform translateX(-50%) scale(1.05)
            box-shadow 0 0 50px rgba(0, 0, 0, 0.3)

        @media (max-width 991px)
            min-width 170px
            min-height 80px

.search-container
    display none
    width 100%
    background-color #2f4365
    justify-content center
    align-items center
    overflow hidden
    position absolute
    right 0
    height 50px

    .search-field
        margin-right 10px
        background #2f4365
        color white
        outline none
        font-size 0.7em
        height 30px
        padding-left 35px
        width 80%
        border 1px solid #79ceb6
        border-radius 50px

        &::placeholder
            color white

    .search-button.inside
        position absolute
        left 11%
        transform scale(0.9)
        cursor pointer
        transition transform 0.3s

        &:hover
            transform scale(1)

    .search-close
        width 8px
        height 8px
        position absolute
        right 14%
        cursor pointer
        transition transform 0.3s

        &:hover
            transform scale(1.1)

.burger-menu
    display flex
    align-items center
    cursor pointer
    position absolute
    right 15px
    height 100%

    .menu-icon-wrapper
        width 30px
        height 30px
        display flex
        justify-content flex-end

    .menu-icon
        position relative
        top 10px
        width 30px
        height 3px
        margin-top 3px
        background-color #fff
        transition background-color 0.3s

    .menu-icon::before
        position absolute
        left 0
        top -10px
        content ''
        width 30px
        height 3px
        background-color #fff
        transition transform 0.2s ease-in, top 0.2s linear 0.2s

    .menu-icon::after
        position absolute
        left 0
        top 10px
        content ''
        width 30px
        height 3px
        background-color #fff
        transition transform 0.2s ease-in, top 0.2s linear 0.2s

    .menu-icon.menu-icon-active
        background-color transparent

    .menu-icon.menu-icon-active::before
        transform rotate(45deg)
        top 0
        transition top 0.2s linear, transform 0.2s ease-in 0.2s

    .menu-icon.menu-icon-active::after
        transform rotate(-45deg)
        top 0
        transition top 0.2s linear, transform 0.2s ease-in 0.2s



.nav-list-drop
    position fixed
    background-color #2F4365
    z-index 1
    width 100vw
    height 100vh
    max-width 100%
    top -100vh
    left 0
    transition top .5s

    &.visible
        top 0

    .search-container
        height 30px

    .nav-list-drop-box
        display flex
        flex-direction column
        justify-content center
        align-items center
        height 100%

        .nav-item
            font-size 1rem
            margin-bottom 15px
            font-style normal
            font-weight 500
            line-height 28px
            text-align center
            color #FFFFFF

        .nav-search-drop
            margin-top 20%
            display flex

            input
                height 40px
                background #FFFFFF
                border 0
                padding-left: 10px;

            button
                border 0
                background-color #70D4B4
                width 40px
                height 40px

.gsc-control-cse
    width 0
    height 0
    position absolute
    top -100vh
